
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.ApplicationFirstPage_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.ApplicationFirstPage_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_welcome */
.ApplicationFirstPage_mobilelabel_welcome {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilebutton_terms_services */
#ApplicationFirstPage_mobilebutton_terms_services {

}
.ui-btn.ApplicationFirstPage_mobilebutton_terms_services {
	margin: 4px 5px 4px 5px;
}
/* spacer_13 */
.ApplicationFirstPage_spacer_13 {
	width: 100%; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_agree_activate */
#ApplicationFirstPage_mobilebutton_agree_activate {

}
.ui-btn.ApplicationFirstPage_mobilebutton_agree_activate {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.ApplicationFirstPage_mobilefooter1 {
	min-height:38px;
}
/* mobilenavbar_6 */
.ApplicationFirstPage_mobilenavbar_6 {

}
.ApplicationFirstPage_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .ApplicationFirstPage_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .ApplicationFirstPage_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.ApplicationFirstPage_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}