
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.DirectChat_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.DirectChat_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilefooter1 */
.DirectChat_mobilefooter1 {
	min-height:38px;
}
/* mobilenavbar_6 */
.DirectChat_mobilenavbar_6 {

}
.DirectChat_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .DirectChat_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .DirectChat_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.DirectChat_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}