
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.Home_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.Home_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilegrid_14 */
.Home_mobilegrid_14 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_14_wrapper {

}
.Home_mobilegrid_14 > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_14_row_0, .Home_mobilegrid_14_row_0 > td {
	height: 30px
}
/* mobilegridcell_15 */
.Home_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_23 */
.Home_mobilegrid_23 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_23_wrapper {

}
.Home_mobilegrid_23 > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_23_row_0, .Home_mobilegrid_23_row_0 > td {
	height: 30px
}
/* mobilegridcell_24 */
.Home_mobilegridcell_24 {
	height:30px !important;
	width:200px;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_24 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_20 */
.Home_mobileimage_20 {
	margin: 4px 0px 4px 0px;
	width: 70px; height: 70px;
	display: block;
}
/* mobilelabel_19 */
.Home_mobilelabel_19 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Georgia; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_25 */
.Home_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_69 */
.Home_mobilegridcell_69 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_69 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_95 */
.Home_mobilegrid_95 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_95_wrapper {

}
.Home_mobilegrid_95 > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_95_row_0, .Home_mobilegrid_95_row_0 > td {
	height: 30px
}
/* mobilegridcell_96 */
.Home_mobilegridcell_96 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_96 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilesearchbar_user */
.Home_mobilesearchbar_user {
	margin: 4px 0px 4px 0px;
}
#Home_mobilesearchbar_user-cover-div {
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 9px 7px 8px 7px;
	z-index: 9999;
}
/* mobilegridcell_97 */
.Home_mobilegridcell_97 {
	height:30px !important;
	width:50px;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_97 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_100 */
.Home_mobileimage_100 {
	margin: 4px 0px 4px 0px;
	width: 50px; height: 50px;
	display: block;
}
/* mobilegrid_type */
.Home_mobilegrid_type {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_type_wrapper {

}
.Home_mobilegrid_type > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_type_row_0, .Home_mobilegrid_type_row_0 > td {
	height: 30px
}
/* mobilegridcell_166 */
.Home_mobilegridcell_166 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_166 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_ad */
.Home_mobilegrid_ad {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_ad_wrapper {

}
.Home_mobilegrid_ad > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_ad_row_0, .Home_mobilegrid_ad_row_0 > td {
	height: 30px
}
/* mobilegridcell_158 */
.Home_mobilegridcell_158 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_158 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* infinite_list */
.ui-page .Home_infinite_list {
	margin: 4px 0px 0px 0px;
}
/* infinite_list_item */
.ui-mobile-viewport ul[data-role="listview"] li.Home_infinite_list_item {
	padding: 0;
	margin: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Home_infinite_list_item .ui-li-static-container {
	padding: 0px 0px 4px 0px;
	padding-right: 41px;
	padding-left: 0px;
	min-height: 1em;
	border-width:0;
}
.ui-mobile-viewport ul[data-role="listview"] li.Home_infinite_list_item.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_103 */
.Home_mobilelistitembutton_103 {

}
/* mobilegrid_108 */
.Home_mobilegrid_108 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_108_wrapper {

}
.Home_mobilegrid_108 > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_108_row_0, .Home_mobilegrid_108_row_0 > td {
	height: 30px
}
/* mobilegridcell_109 */
.Home_mobilegridcell_109 {
	height:30px !important;
	width:100px;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_109 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_113 */
.Home_mobileimage_113 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_110 */
.Home_mobilegridcell_110 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_110 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_114 */
.Home_mobilegrid_114 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Home_mobilegrid_114_wrapper {

}
.Home_mobilegrid_114 > tr > td {
	vertical-align: top;
}
.Home_mobilegrid_114_row_0, .Home_mobilegrid_114_row_0 > td {
	height: 30px
}
.Home_mobilegrid_114_row_1, .Home_mobilegrid_114_row_1 > td {
	height: 30px
}
/* mobilegridcell_115 */
.Home_mobilegridcell_115 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_115 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_119 */
.Home_mobilelabel_119 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_163 */
.Home_mobilegridcell_163 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_163 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_phone */
.Home_mobilelabel_phone {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_117 */
.Home_mobilegridcell_117 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_117 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_bid */
#Home_mobilebutton_bid {

}
.ui-btn.Home_mobilebutton_bid {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_id */
.Home_mobilelabel_id {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_164 */
.Home_mobilegridcell_164 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Home_mobilegridcell_164 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_username */
.Home_mobilelabel_username {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter1 */
.Home_mobilefooter1 {
	min-height:38px;
}
/* mobilenavbar_6 */
.Home_mobilenavbar_6 {

}
.Home_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Home_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Home_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.Home_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}