
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.Welcome_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.Welcome_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelabel_11 */
.Welcome_mobilelabel_11 {
	text-decoration: none; font-weight: normal; color: #30312b; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter1 */
.Welcome_mobilefooter1 {
	min-height:38px;
}
/* mobilenavbar_6 */
.Welcome_mobilenavbar_6 {

}
.Welcome_mobilenavbar_6 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Welcome_mobilenavbar_6 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Welcome_mobilenavbar_6 ul li:last-child a {
	margin-right: -1px !important;
}
.Welcome_mobilenavbar_6 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}